.dashboard {
    background: linear-gradient(90deg, rgb(118, 223, 255) 17%, rgba(25, 140, 218, 0.888) 100%);
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    border: solid 1px #000;
}

.content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-link {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #000;
    width: 400px;
    height: 50px;
    border: solid 1px #000;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(118,167,255,1) 17%, rgba(209,217,218,1) 50%, rgba(70,179,245,0.8883928571428571) 100%);
}

.btn-link:hover {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #000;
    width: 400px;
    height: 50px;
    border: solid 1px #000;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(152,170,203,1) 19%, rgba(174,203,203,1) 50%, rgba(152,170,203,1) 100%);}




