.div-content {
    padding: 20px 10px 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.0rem;
}

.delivery-item {
    border: solid 1px rgb(189, 186, 186);
    margin: 10px;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #fff;
}

.icon {
    font-size: 1.4rem;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

}

.footer-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: bold;
}


